body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
}



.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    background-color: red;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.message {
    font-size: 20px;
    margin-top: 10px;
}

.attempts {
    margin-top: 10px;
}
